* {
 background-color: #F5F2EB;
 color: #707070;
 font-family: Arial, Helvetica, sans-serif;
}

.hide{
    display: none;
}

.show{
    display: inline-flex;
    flex-direction: column;
}

h1{
    font-size: 45px;
    margin-bottom: 0;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

aside{
    position: absolute;
    text-align: center;
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
    width: 60vw;
    min-width: 500px ;
    height: 80vh;
    background-color: aqua;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.dynamic-box{
    height: fit-content;
    min-height: 60%;
    width: 50vw;
}

#backBtnHolder{
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 10%;
    min-height: 50px;
}

#clearBtnHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    min-height: 50px;
    
}

#startBtnHolder{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.dynamic-box-highscores{
    height: fit-content;
    min-height: 80%;
    align-self: center;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50vw;
    min-width: 400px;
    background-color: aquamarine;

}

#questionList li{
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
}


/* design the li elements of the answers for each question */
#questionList li ul li{
    background-color: white;
    padding: 20px 20px;
    margin: 10px 0;
    border: 1px solid #707070;
    list-style-type: none;
    width: 80%;
    font-size: 25px;
}

#questionList li ul li:hover{
    background-color: #F4F4F4;
}


footer{
    height: 10vh;
    display: flex;
    justify-content: center;
}
